header {
    background-color: #345A9A;
    height: 100px;
}

header img {
    height: 50px;
    padding-left: 300px;
    padding-top: 20px;
    line-height: 100px;
}

header table {
    float: right;
    color: aliceblue;
    padding-right: 335px;
    padding-top: 16px;
    font-size: 12px;
}

.headeruserinfo {
    width: 135px;
    margin-right: 10px;
}

a{
    color: #31589B;
    text-decoration:none;
}

#sub {
    background-color: #3B68B6;
    border: 0px;
}

#forget {
    color: #98B5DA;
}

main {
    background-color: #ECF0F6;
    display: flex;
    justify-content: center;
}

article {
    margin-left: 300px;
    padding-top: 50px;
}

main h1 {
    width: 400px;
    font-size: 26px;
}

main img {
    width: 63px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    top: 23px;
}

aside {
    position: relative;
    left: 100px;
    width: 833.5px;
}

#signup {
    font-size: 40px;
}

#signupdown {
    position: relative;
    top: -40px;
    color: #666666;
}

aside section {
    position: relative;
    top: -40px;
}

section input {
    margin-bottom: 10px;
    width: 399px;
    height: 39px;
    border-radius: 6px;
    border-color: #BBC7D9;
    font-size: 18px;
}

#birthday {
    position: relative;
    top: -15px;
}

#birthday input {
    position: relative;
    top: -10px;
}

.name {
    width:188px;
    margin-right: 10px;
}

#gender {
    position: relative;
    top: -80px;
}

#gender input {
    margin-right: 10px;
}

#gender label {
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.fromfont {
    color: #8F949D;
}

#formtext {
    position: relative;
    top: -90px;
    width: 316px;
    font-size: 12px;
    color: #8F949D;
}

aside button {
    background-color: #4EA549;
    width: 200px;
    height: 39px;
    font-size: 19px;
    color: aliceblue;
    position: relative;
    top: -80px;
}

#formhr {
    position: relative;
    top: -70px
}

#formdowntext {
    position: relative;
    top: -70px;
    color: #666666;
}

footer {
    height: 200px;
    text-align: center;
}

footer section {
    margin-top: 50px;
}
